

header {
	width: 100%;
	background: white;
	height: 65px;
	box-shadow: 1px 1px 1px #eee;
	position: absolute;
	z-index: 2000;
}

.container{
	position: relative;

	.content{
		@include column(14);
		@include push(3);
		background: white;
		padding-top: 65px;
	}

	.sidebar{
		@include column(7);
		background: $sideBg;
		border-left: 1px solid $border;
		position: absolute;
		padding-top: 65px;
		z-index: 1000;
		overflow: scroll;
	}
}

.container2{
	position: relative;

	.content{
		@include column(14);
		@include push(5);
		background: white;
		padding-top: 65px;
	}
}