

html{
	font-size: 62.5%;
}

body{
	font-family: $sans;
	font-family: $serif;
	font-size: 1.6rem;
	color: $bodyText;
}

/* headings */

//Post title
h1{
	font-family: $sans;
	font-size: 4.8rem;
	font-weight: 700;
}

//Subheading
h2{
	font-family: $sans;
	font-size: 3rem;
	letter-spacing: -1px;
	&>a{
		color: $bodyText;
	}
}

//Pull Quote
h3{
	font-family: $sans;
	font-size: 2.1rem;
	&>a{
		color: $bodyText;
	}
}

//Attribution
h4{
	font-family: $sans;
	font-size: 1.8rem;
	font-weight: 700;
}

//Meta & Caption
h5{
	font-family: $sans;
	font-size: 1.5rem;
	font-weight: 400;
}

//Detail
h6, header .menu li{
	font-family: $sans;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
}

a {
	color: $medGreen;
	text-decoration: none;
	&:hover {
		color: $hovGreen;
	}
}

// navigation
 header .menu li{
	text-transform: uppercase;
}


/* paragraphs */

p{
	font-family: $serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	list-style: none;
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}