/* 
   colors
   ========================================================================== */

$bodyText : #333332;
$darkBg : #4C4D4B;
$regBg : #f4f5f0;
$sideBg: #fafafa;
$homeBg : #EDEDEB;
$medGreen : #00B96A;
$hovGreen : #5CB86E;
$border : rgba(0,0,0,0.1);


/* 
   typography
   ========================================================================== */

$serif: 'Merriweather', serif;
$sans: 'Merriweather Sans', sans-serif;